.custom{
    background-color: #F7B614;
}
.text-style{
    font-size: 70px;
    font-weight: 700;
    color: white;
}
.text-style2{
    font-size: 60px;
    font-weight: 700;
    color: black;
}
.text-style3{
    font-size: 16px;
    color: black;
    font-weight: normal;
}

.custom-b:hover{
    background-color: lightsteelblue;
    color: black;
}