.custom-c{
  background-color: #282932;
}
.facebook-icon{
  color: white;
}
.facebook-icon:hover {
  color: blue;
  cursor: pointer;
}
.icon{
  color: white;
}
.icon:hover{
  color: red;
  cursor: pointer;
}
.icon-twitter{
  color: white;
}
.icon-twitter:hover{
  color: rgb(64, 64, 236);
  cursor: pointer;
}

.new3{
  border-top: 1px dashed gray;
  margin-top: 3px;
}
.instagram-icon{
  color: white;
}
.instagram-icon:hover {
  /* color:  #f09433; */
  cursor: pointer;
 
}
.custom-f{
  background-color: #2B2C35;
}
